#greeting-section,
#accomplishments-section,
#projects-section,
#contact-section {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.circle-container {
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .small-circle {
    position: absolute;
    --circle-radius: 8px;
    --offset: 100px;
    width: var(--circle-radius);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    // left: calc(var(--offset)/2);

    transform:
      translate (
        calc(cos(var(--degrees)) * var(--offset)),
        calc(sin(var(--degrees)) * var(--offset))
      );
    
    animation: circleHorizontal circleVertical 6s linear alternate infinite;
  }

  @keyframes circleHorizontal {
    to {
      transform: translateX(-200%);
    }
  }

  @keyframes circleVertical {
    to {
      transform: translateY(-200%);
    }
  }

  $total-small-circles: 10;
  @for $i from 0 through ($total-small-circles - 1) {
    .small-circle:nth-of-type(#{$i} + 1) {
      --degrees: #{$i} * 360deg / #{$total-small-circles};
    }
  }
 
  .small-circle:nth-of-type(1) {
    --degrees: 0deg;
  }
  
  .circle-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -25px; /* Half of button height */
    margin-left: -25px; /* Half of button width */
  }
  
  #ani-circle-button-1 {
    transform: rotate(45deg) translateX(100px) rotate(-45deg);
  }
  
  #ani-circle-button-2 {
    transform: rotate(135deg) translateX(100px) rotate(-135deg);
  }
  
  #ani-circle-button-3 {
    transform: rotate(225deg) translateX(100px) rotate(-225deg);
  }
  
  #ani-circle-button-4 {
    transform: rotate(315deg) translateX(100px) rotate(-315deg);
  }
  
  .content {
    display: none;
  }
  
  .expanded {
    display: block;
    font-size: 24px;
    color: white;
  }