// ------------------------------------------------------------------
//    overrides of html provided elements
// ------------------------------------------------------------------
html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #e0e0e0;
  font-size: 16px; 
}

body {
  margin: 0px;
  font-size: 1rem;
}

input[type="text"], 
input[type="email"],
textarea {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}


// ------------------------------------------------------------------
//    modal styling
// ------------------------------------------------------------------
.modal {
  max-height: 80%;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px; /* Round the corners */
  width: 75%;

  // & h1 {
    
  // }

  & .proj-dialog-body {
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
    
    & .project-links {
      position: sticky;
      top: 0;
      margin-top: 24px;
      margin-left: 24px;
      display: flex;
      flex-direction: column;

      & a {
        margin-bottom: 16px;
      }
    }
  }

  & .close-modal-button {
    justify-self: end;
  }
}

.modal::backdrop {
  background-color: black;
  opacity: .4;
}

.no-scroll {
  overflow: hidden;
}


// ------------------------------------------------------------------
//    global link classes
// ------------------------------------------------------------------
.word-link {
  margin-right: 1%;
  padding: 12px;
  display: inline-block;
  background-color: #4CAF50; /* Set your desired background color */
  color: white; /* Set the text color */
  text-decoration: none; /* Remove the underline */
  border-radius: 4px; /* Round the corners */
  border: none; /* Remove the border */
  transition: background-color 0.3s ease; /* Add a smooth transition */
  margin: 1%;
}
.word-link:hover {
  background-color: #45a049;
} 

// for links with images displayed rather than words
.image-link {
  display: inline-block;
  position: relative;
}
.image-link img {
  transition: transform 0.2s ease-in-out;
}
.image-link:hover img {
  transform: scale(1.15); /* Increase the size of the image on hover */
}

#bottom-right-link {
  display: none; /* Hide the link by default */
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 10px;
  z-index: 9999;
}


// ------------------------------------------------------------------
//    Spinner implementation classes
// ------------------------------------------------------------------
.spinner {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #888;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


// ------------------------------------------------------------------
//    broad section attributes
// ------------------------------------------------------------------
section {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 2%;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 2%;

  .section-header {
    & .section-title {
      text-align: start;
      font-size: 48px;
    }
  }

  .section-footer {
    display: flex;
  }
}


// ------------------------------------------------------------------
//    specific changes to sections
// ------------------------------------------------------------------

// special changes to the greeting section
// there will be some overrides from the standard section selection
#greeting-section {
  height: 100vh;
  background-color: #ccc;

  & .section-title {
    font-size: 64px;
    text-align: left;
  }

  // links to indeed, github, etc
  & #greeting-links {
    display: flex;
    justify-content: start;
    padding-top: 24px;

    & .image-link {
      margin-right: 24px;
    }
  }

  & .section-footer {
    justify-content: center;
    margin-top: auto;
    margin-bottom: 64px;
    flex-wrap: wrap;
  }
}

#projects-section {

  & .project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 24px;
    margin-bottom: 48px;
    background-color: #ccc;
    border-radius: 4px;

    // @media (min-width: 768px) {
    //   flex-direction: column;
    // }

    & .award > p {
      width: fit-content;
      padding: 2px;
      background-color: goldenrod;
      border-radius: 4px;
    }

    h1 {
      font-size: 48px;
      margin: 0px;
      margin-bottom: 16px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-left: 0px;
  
      & li {
        margin-right: 8px;
        padding: 8px;
        background-color: black;
        font-weight: bold;
        color: #e0e0e0;
      }
    }

    & .project-info {
      margin-right: 16px;
    }

    & .project-img {
      align-self: center;
      max-height: 300px;
      width: auto;
      border-radius: 4px;
    }


    & dialog {
      & .proj-dialog-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        // & h1 {
        //   margin-left: 24px;
        // }

        & a {
          margin-left: auto;
          margin-right: 24px;
        }
      }
      & .proj-dialog-body {
        padding: 12px;

        & p {
          padding-left: 12px;
        }

        & .dialog-body-diagram-section {
          display: flex;
          flex-direction: row;

          & img {
            width: 50%;
            margin-left: auto;
          }
        }
      }
    }
  }
}

#education-and-work-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  & .column-title {
    text-align: center;
    font-size: 48px;
  }

  & #education-column {
    max-width: 45%;
    min-width: 256px;
  }

  & #work-column {
    max-width: 45%;
    min-width: 256px;
  }

  & .eaw-section-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    border-color: #969997;
  }
}

#skills-section {
  display: flex;
  justify-content: center;
  align-items: center;

  & .section-title {
    text-align: center;
  }

  & .section-content {
    display: grid;
    grid-template-areas: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    margin: 0 auto;
    max-width: 1200px;

    @media (min-width: 768px) {
      /* For screens larger than 768px, have two columns */
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: 1024px) {
      /* For screens larger than 1024px, have three columns */
      grid-template-columns: repeat(3, 1fr);
    }
    
    & .skillset-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & img {
        max-height: 40px;
        max-width: 40px;
      }

      & .icon-section {
        display: flex;
        flex-direction: row;

        & .skill-icon-element {
          display: grid;
          grid-template-areas: 
            "skilliconimg"
            "description";
          grid-template-rows: 1fr 0.5fr;
          padding-right: 8px;
          padding-left: 8px;

          & img {
            grid-area: skilliconimg;
            justify-self: center;
          }
          & p {
            grid-area: description;
            margin-top: 4px;
            text-align: center;
          }
        }
      }
    }
  }
}

#about-me-section {
  display: flex;
  justify-content: space-evenly;
}

#contact-section {
  & .section-title {
    text-align: center;
  }

  & #email-form {
    display: grid;
    grid-template-areas: 
      "fullname fullname  email email"
      "message message    message message"
      "none none          none submit";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin-right: 15%;
    margin-left: 15%;

    #from_name { 
      grid-area: fullname;
      height: 36px;
    }
    #from_email { 
      grid-area: email;
      height: 36px;
    }
    #message { 
      grid-area: message;
      height: 72px;
      resize: vertical;
    }
    // allow the load spinner and response messages to be put into the submit area
    & .email-response-item,
    #email_submit { 
      grid-area: submit;
    }
  }

  & #contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;

    & .image-link {
      margin-right: 24px;
    }
  }
}