body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

ul {
  list-style-type: none;
}

// #greeting-section,
// #accomplishments-section,
// #projects-section,
// #contact-section {
//   display: grid;
//   gap: 50px 100px; // 50px gap on rows, 100px on columns
//   height: 100vh;
//   width: 100vw;
// }

button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button > * {
  padding: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

.image-link {
  display: inline-block;
  position: relative;
}
.image-link img {
  transition: transform 0.2s ease-in-out;
}
.image-link:hover img {
  transform: scale(1.15); /* Increase the size of the image on hover */
}


// for each section
section {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 24px;
  padding-left: 72px;
  margin-bottom: 48px;


  .section-header {
    & .section-title {
      text-align: left;
      font-size: 48px;
    }
  }

  .section-footer {
    display: flex;
  }
}

// special changes to the greeting section
// there will be some overrides from the standard section selection
#greeting-section {

  & .section-title {
    font-size: 64px;
  }

  & .section-footer {
    padding-top: 24px;
    justify-content: start;
  }

  & .nav-button {
    height:48px;
    width:128px;
    border-radius: 0px;
    background: none;
    cursor: pointer;
  }

  & #greeting-links {
    display: flex;
    justify-content: start;
    padding-top: 24px;

    & .image-link {
      margin-right: 24px;
    }
  }
}

#projects-section {

  & .project {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 48px;
  }

  & .project-links {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;

    & .project-link {
      margin-right: 24px;
      padding-right: 12px;
      padding-left: 12px;
      display: inline-block;
      background-color: #4CAF50; /* Set your desired background color */
      color: white; /* Set the text color */
      text-decoration: none; /* Remove the underline */
      border-radius: 4px; /* Round the corners */
      border: none; /* Remove the border */
      transition: background-color 0.3s ease; /* Add a smooth transition */
    }
    & .project-link:hover {
      background-color: #45a049;
    } 
  }
}

#education-and-work-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  & #education-column {
    max-width: 300px;

    & #education-column-title {
      justify-content: center;
    }
  }

  & #work-column {
    max-width: 300px;
  }
}

#skills-section {
  & .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    
    & .skillset-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & img {
        height: 40px;
        width: 40px;
      }
    }

    // override skillset of type for the full stack section
    // & #full-stack-skillset {
    //   display: flex;
    //   flex-direction: row;
    // }
  }
}

#contact-section {

  & .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & #email-form {
      min-width: 800px;
    }
  }
}








.circle-container {
  position: relative;
  width: 400px;
  height: 400px;
}
  
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}
  



@keyframes circleHorizontal {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes circleVertical {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-200%);
  }
}

@mixin setSmallCircleStyles($degrees) {
  position: absolute;
  --circle-radius: 8px;
  --offset: 100px;
  width: var(--circle-radius);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  // left: calc(var(--offset)/2);

  transform:
    translate (
      calc(cos(var(--degrees)) * var(--offset)),
      calc(sin(var(--degrees)) * var(--offset))
    );
  
  animation: circleHorizontal circleVertical 6s linear alternate infinite;
}


$total-small-circles: 3;
@for $i from 0 through ($total-small-circles - 1) {
  .small-circle:nth-of-type(#{$i} + 1) {
    @include setSmallCircleStyles(#{$i} * 360deg / #{$total-small-circles});
  }
}


.circle-button {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // margin-top: -25px; /* Half of button height */
  // margin-left: -25px; /* Half of button width */
}

$total-number-buttons: 3;
@for $i from 0 through ($total-number-buttons - 1) {
  .ani-circle-button:nth-of-type(#{$i}) {
    --delta-theta: calc(360deg / $total-number-buttons);
    --curr-theta: calc($i * var(--delta-theta));
    transform: rotate(var(--curr-theta)) translateX(100px) rotate(-var(--curr-theta));
  }
}

// .content {
//   display: none;
// }
  
.expanded {
  display: block;
  font-size: 24px;
  color: white;
}