PersonalServerKeyPair.pem
ssh_ec2.sh
docker.py

node_modules
vars.env
aws_info

.env

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
