// ------------------------------------------------------------------
//    root variables
// ------------------------------------------------------------------
:root {
  // color palatte
  --white: #e7e6e6;
  --blue: #007acc;
  --darkT-grey-1: #3e3e42;
  --darkT-grey-2: #2d2d30;
  --darkT-black-1: #252526;
  --darkT-black-2: #1e1e1e;

  // transition timers 
  --button-transition-time: 0.2s;

  // z-index indices
  --zind-perm-top: 999;
  --zind-foreground: 4;
  --zind-middleground: 3;
  --zind-background: 2; 
  --zind-perm-end: 1;

  // font 
  --font: 'Source Sans Pro';
}

// ------------------------------------------------------------------
//    overrides of html provided elements
// ------------------------------------------------------------------
html {
  scroll-behavior: smooth;
  font-family: var(--font), sans-serif;
  background-color: var(--darkT-grey-1);
  font-size: 16px; 
}

body {
  margin: 0px;
  font-size: 1rem;
  color: var(--white);
}

input[type="text"], 
input[type="email"],
textarea {
  font-size: 1rem;
  font-family: var(--font), sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// styling for elements inside the dialog modal
dialog {
  & .proj-dialog-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    & a {
      margin-left: auto;
      margin-right: 24px;
    }
  }
  & .proj-dialog-body {
    padding: 12px;

    & p {
      padding-left: 12px;
    }

    & .dialog-body-diagram-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      // adjust diagram display direction when screen gets too small
      @media (min-width: 0px) and (max-width: 1024px) {
        flex-direction: column;
      }

      & .dialog-body-stack-lists {
        display: flex;
        flex-direction: row;

        & div {
          padding-right: 12px;
        }
      }

      & img {
        @media (min-width: 1024px) {
          max-width: 45%;
          max-height: 300px;
        }

        // ensure diagram stays a readable size on smaller screens
        @media (min-width: 0px) and (max-width: 1024px) {
          width: 75%;
          height: auto;
        }
      }

      & h3 {
        max-width: 128px;
        margin-right: 12px;
      }
    }
  }
}

// ------------------------------------------------------------------
//    animations 
// ------------------------------------------------------------------
.slideIn {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-10%);
}
@media (prefers-reduced-motion) {
  .slideIn {
    transition: none;
  }
}

.show {
  opacity: 1s;
  filter: blur(0px);
  transform: translateX(0%);
}


// ------------------------------------------------------------------
//    modal styling
// ------------------------------------------------------------------
.modal {
  max-height: 80%;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px; /* Round the corners */
  width: 75%;

  // & h1 {
    
  // }

  & .proj-dialog-body {
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;

    // adjust items to fit in a condensed view
    @media (min-width: 0px) and (max-width: 500px) {
      flex-direction: column;
    }
    
    & .project-links {
      display: flex;

      @media (min-width: 500px) {
        margin-top: 24px;
        margin-left: 24px;
        position: sticky;
        top: 0;
        flex-direction: column;
      }

      @media (min-width: 0px) and (max-width: 500px) {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
      }

      & a {
        margin-bottom: 16px;
      }
    }
  }

  & .close-modal-button {
    justify-self: end;
  }
}

.modal::backdrop {
  background-color: var(--darkT-black-2);
  opacity: .4;
}

.no-scroll {
  overflow: hidden;
}


// ------------------------------------------------------------------
//    global link classes
// ------------------------------------------------------------------
.word-link {
  max-height: 48px;
  margin-right: 2%;
  margin-top: 2%;
  // padding: 12px;
  // display: inline-block;
  // background-color: #4CAF50; /* Set your desired background color */
  // color: white; /* Set the text color */
  // text-decoration: none; /* Remove the underline */
  // border-radius: 4px; /* Round the corners */
  // border: none; /* Remove the border */
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  // font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  color: var(--white);
  border-radius: 4px;
  background-color: var(--blue);
  transition: transform var(--button-transition-time) ease-in-out, box-shadow var(--button-transition-time);/* Add a smooth transition */
  // margin: 1%;
}
.word-link:hover {
  background-color: var(--blue);
  box-shadow: 2px 8px var(--darkT-black-2);
  transform: translate(0px, -4px);

} 

// for links with images displayed rather than words
.image-link {
  display: inline-block;
  position: relative;
}
.image-link img {
  transition: transform var(--button-transition-time) ease-in-out;
}
.image-link:hover img {
  transform: scale(1.15); /* Increase the size of the image on hover */
}

#bottom-right-link {
  display: none; /* Hide the link by default */
  position: fixed;
  bottom: 12px;
  right: 2%;
  padding: 10px;
  z-index: var(--zind-perm-top);
}


// ------------------------------------------------------------------
//    Spinner implementation classes
// ------------------------------------------------------------------
.spinner {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #888;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


// ------------------------------------------------------------------
//    broad section attributes
// ------------------------------------------------------------------
section {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding-left: 8%;
  padding-right: 8%;
  min-height: auto;
  // margin-bottom: 2%;
  z-index: var(--zind-foreground);

  .section-header {
    & .section-title {
      text-align: start;
      font-size: 48px;
    }
  }

  .section-footer {
    display: flex;
  }
}

.non-greeting-section {
  margin-bottom: 16px;
}



#greeting-section-background-imgs {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--zind-background);

  & #mountain-png {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0px;
    left: 0px;

    max-height: 30%;
  }

  & #side-cloud-png {
    position: absolute;
    width: 25%;
    height: auto;
    top: 200px;
    right: 0px;
  }

  & #planet-png {
    position: absolute;
    width: 10%;
    height: auto;
    top: 50px;
    right: 15%;
  }

  & #middle-cloud-png {
    position: absolute;
    width: 20%;
    height: auto;
    top: 200px;
    right: 30%;

    @media (max-width: 1000px) {
      visibility: hidden;
    }
  }
}


// ------------------------------------------------------------------
//    specific changes to sections
// ------------------------------------------------------------------

// special changes to the greeting section
// there will be some overrides from the standard section selection
#greeting-section {
  min-height: 100vh;
  background-color: var(--darkT-black-1);
  z-index: var(--zind-foreground);

  & .section-title {
    margin-top: 12px;
    font-size: 64px;
    text-align: left;
  }

  & .section-body {
    z-index: var(--zind-foreground);
  }

  // links to indeed, github, etc
  & #greeting-links {
    display: flex;
    justify-content: start;
    padding-top: 24px;
    z-index: var(--zind-foreground);

    & .image-link {
      margin-right: 24px;
    }
  }

  & #navigation-links {
    display: flex;
    flex-wrap: wrap;
    & a {
      z-index: var(--zind-foreground);
    }
  }
}


#skills-section {
  display: flex;
  justify-content: center;
  align-items: center;

  & .section-title {
    font-size: 36px;
  }

  & .section-content {
    display: grid;
    grid-template-areas: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    column-gap: 16px;
    margin: 0 auto;
    max-width: 1200px;


    @media (min-width: 768px) {
      /* For screens larger than 768px, have two columns */
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: 1024px) {
      /* For screens larger than 1024px, have three columns */
      grid-template-columns: repeat(3, 1fr);
    }
    
    & .skillset-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px;
      border-radius: 4px;
      background-color: var(--darkT-grey-2);
      border: 2px solid var(--blue);

      & img {
        max-height: 40px;
        max-width: 40px;
      }

      & .icon-section {
        display: flex;
        flex-direction: row;

        & .skill-icon-element {
          display: grid;
          grid-template-areas: 
            "skilliconimg"
            "description";
          grid-template-rows: 1fr 0.5fr;
          padding-right: 8px;
          padding-left: 8px;

          & img {
            grid-area: skilliconimg;
            justify-self: center;
          }
          & p {
            grid-area: description;
            margin-top: 4px;
            text-align: center;
          }
        }
      }
    }
  }
}

#about-me-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media (min-width: 0px) and (max-width: 976px) {
      flex-direction: column;
    }

    // ensure only the child divs recieve this spacing
    > div {
      @media (min-width: 976px) {
        width: 30%;
      }
    }

    & .row-section {
      width: 100%;
      // margin: 16px;
      padding-left: 6px;
      padding-right: 6px;

      & h2 {
        font-size: 32px;
        text-align: center;
        // width: fit-content;
      }

      & .listed-item {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        // margin-top: 12px;
        margin-bottom: 12px;
        background-color: var(--darkT-grey-2);
        border-radius: 4px;
        border: 2px solid var(--blue);
        width: 100%;

        @media (min-width: 0px) and (max-width: 976px) {
          justify-content: center;
        }

        // space the text from the images slightly
        & .listed-item-text-section {
          // margin-right: 16px;
          width: 65%;
          padding: 24px;

          & p {
            margin-left: 8px;
          }
        }

        & img {
          margin-right: 24px;
        }
      }
    }
  }
}

#contact-section {
  margin-top: 24px;
  & .section-title {
    text-align: center;
  }

  // & #email-contact-section {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;

  //   & #email-contact-section-header {
  //     max-width: 200px;
  //   }
  // }

  & #email-form {
    display: grid;
    grid-template-areas: 
      "fullname fullname  email email"
      "message message    message message"
      "none none          none submit";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6px;
    align-items: center;
    justify-content: center;
    // margin: 5%;
    // margin-right: 15%;
    // margin-left: 15%;

    #from_name { 
      grid-area: fullname;
      height: 36px;
    }
    #from_email { 
      grid-area: email;
      height: 36px;
    }
    #message { 
      grid-area: message;
      height: 72px;
      resize: vertical;
    }
    // allow the load spinner and response messages to be put into the submit area
    & .email-response-item,
    #email_submit { 
      grid-area: submit;
    }
  }

  & #contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;

    & .image-link {
      margin-right: 24px;
    }
  }
}