/* this file is used to ensure consitstancy across elements like buttons
    which should look the same across the entire page */

input[type="text"], 
input[type="email"],
textarea {
    font-size: 1rem;
    font-family: var(--font), sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

 /* styling for elements inside the dialog modal */
dialog {
    & .proj-dialog-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    & a {
        margin-left: auto;
        margin-right: 24px;
    }
    }
    & .proj-dialog-body {
    padding: 12px;

    & p {
        padding-left: 12px;
    }

    & .dialog-body-diagram-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;

        /* adjust diagram display direction when screen gets too small */
        @media (min-width: 0px) and (max-width: 1024px) {
        flex-direction: column;
        }

        & .dialog-body-stack-lists {
        display: flex;
        flex-direction: row;

        & div {
            padding-right: 12px;
        }
        }

        & img {
        @media (min-width: 1024px) {
            max-width: 45%;
            max-height: 300px;
        }

        /* ensure diagram stays a readable size on smaller screens */
        @media (min-width: 0px) and (max-width: 1024px) {
            width: 75%;
            height: auto;
        }
        }

        & h3 {
        max-width: 128px;
        margin-right: 12px;
        }
    }
    }
}